<p id="notice"><%= notice %></p>

<p>
  <b>Medium:</b>
  <%= @message.medium_id %>
</p>

<p>
  <b>Intended date:</b>
  <%= @message.intended_date %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>Relation:</b>
  <%= @message.relation_id %>
</p>

<p>
  <b>Sent:</b>
  <%= @message.sent %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
